@import "reset";

* {
	box-sizing: border-box;
}

body {
	background: #222222;
	color: #CCCCCC;
	font-family: Ubuntu, sans-serif;
	overflow: hidden;
}

#app-border {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #AAA;
	pointer-events: none;
}

#app-titlebar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 32px;
	background: #000;
	-webkit-user-select: none;
	color: #FFF;

	.trackable {
		position: absolute;
		left: 0;
		top: 0;
		right: 88px;
		height: 32px;
		-webkit-app-region: drag;

		.icon {
			background: url( "../images/logo.png" );
			background-size: cover;
			width: 32px;
			height: 32px;
			position: absolute;
			left: 0;
			top: 0;
		}

		.title {
			position: absolute;
			left: 36px;
			top: 0;
			line-height: 32px;
			font-weight: 700;
			pointer-events: none;

			&:hover { color:blue; }
		}
	}

	.buttons {
		position: absolute;
		top: 0;
		right: 0;
		width: 88px;
		height: 32px;
		-webkit-app-region: no-drag;

		.button {
			display: inline-block;
			margin-right: 4px;
			margin-top: 6px;
			width: 22px;
			height: 22px;
			border: 1px solid transparent;
			line-height: 22px;
			text-align: center;
			font-size: 9pt;
			cursor: pointer;

			transition: border-color 250ms;

			&.close:hover { border-color: #F00; }
			&.maximize:hover { border-color: #666; }
			&.minimize:hover { border-color: #448; }
		}
	}
}
